*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --color-primary-dark: #d9480f;
  --color-primary-light: #f76707;
  --color-primary: #e8590c;
  --color-primary-xtra-light: #ffe8cc;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
